.cms-form .el-row {
    width: 100%;
}

.cms-form .el-form-item {
    margin-bottom: 0px;
    padding: 15px 0;
    border-top: 1px dashed #eee;
}

.width_100 {
    width: 100%;
}

.w100 {
    width: 100px !important;
}

.w150 {
    width: 150px !important;
}

.w200 {
    width: 200px !important;
}

.mt-10 {
    margin-top: 10px;
}

.media-upload {
    position: relative;
}

.media-player {
    position: absolute;
    top: 0;
    left: 100px;
    height: 36px;
    line-height: 36px;
}


.form-footer {
    margin-top: 20px;
}